[2021-09-25 17:31] jensmeindertsma opened #1 "Update to latest version of Prisma"
Hey Carter,
I came across this project and I'd love to use it. Really awesome to see that someone else already put the hard work into the project that I need. But I really need to use Prisma@3, and this project's dependencies require Prisma@2. Is there any possibility that I could help you update this project to Prisma@3?

[2021-09-25 18:52] CarterGrimmeisen commented on #1
Hey there! Thanks for your interest in the package. I've updated the dependencies to enable use with Prisma@3, and published a new version to npm. Let me know if you run into any issues!

[2021-09-25 18:54] jensmeindertsma commented on #1
Awesome. Thanks for doing this so quickly, even in the weekend! Enjoy your weekend!

[2021-09-25 19:02] CarterGrimmeisen commented on #1
No problem! You enjoy yours as well!

[2021-09-25 19:02] #1 closed

[2021-10-15 08:29] anteprimorac opened #7 "Add ability to configure prisma client path"
You are unable to use this generator if you define custom prisma client output because this generator uses hardcoded `import { Type } from '@prisma/client'` [here](https://github.com/CarterGrimmeisen/zod-prisma/blob/22cac02a2dc64ba07ae7a2cfb0392caafc7b07c9/src/index.ts#L70) which only exports types from default output path `node_modules/.prisma/client`.

[2021-10-21 08:48] #7 closed, assigned to nobody

[2021-11-06 10:46] kenneho opened #19 "/bin/sh: 1: zod-prisma: not found"
Hi. I'm trying to get this great library to work in a (Blitzjs with) Prisma project, but don't seem to get it installed properly.
Steps:

[code]

Add this to schema.prisma:
[code]
Run `blitz prisma migrate dev`, which results in this error:

[code]
To me I loks like `zod-prisma` haven't been properly installed, and I suspect must have missed something in the documentation have yet to find exactly

[2021-11-06 16:48] CarterGrimmeisen commented on #19
Hey there!

It looks like it was a configuration issue on my end that I didn't spot at first because of the version of yarn I was using. I've updated the bin entry in package.json to use the correct format, among some other small changes and published the update.

Thanks for pointing out the issue and let me know if this doesn't resolve the problem for you.

[2021-11-07 16:42] kenneho commented on #19
Thanks, I ran the updated version, and it works perfectly.

[2021-11-07 16:42] #19 closed

[2021-11-07 16:59] kenneho opened #20 "Create schema for create"
Hi.

Thanks for this great utility.

I ran it on my schema, and got a file `company.ts` containing something like this:
[code]
I'm not able to use BlogPostModel to validate input for updates to blogposts. But when creating a new blog post however, I need to omit id, createdAt and updatedAt. If I make use of `_BlogPostModel`, I could do something like this:

[code]
The latter example is very hacky,

[2021-11-07 18:00] CarterGrimmeisen commented on #20
Yep, unfortunately not being able to omit is a limitation of the z.lazy models that I haven't figured out how to overcome yet.

However, in the config for my generator you can specify relationModel = true instead of default and that will change the naming to something that makes more sense for your use case.

[2021-11-10 06:17] kenneho commented on #20
Thanks, I'll try that.

[2021-11-10 06:17] #20 closed

[2021-11-16 04:46] kenneho opened #27 "Identifier has already been declared"
Hi.

My generated zod file have suddenly started getting errors like this:

`Syntax error: Identifier 'RelatedCommentModel' has already been declared`

Extract from the file itself:

[code]
I may be because my model references itself, i.e. the `Comment` model references other comments.

[2021-11-16 20:54] CarterGrimmeisen commented on #27
Ah, okay. I hadn't considered this use case. For now you can manually remove the imports but I will get a fix for this out in the next few days! Thanks for the report.

[2021-11-19 20:06] CarterGrimmeisen commented on #27
This has been resolved and a new version published `0.2.2`. Thanks again for the report!

[2021-11-19 20:06] #27 closed

[2021-11-20 10:29] kenneho commented on #27
Thanks for providing a fix, and thanks again for this great library!

[2021-11-30 16:37] michalochman opened #34 "Generated unknown type results in ReferenceError"
Hi! Thanks for this amazing time saver.

I have started using it and I noticed that the `unknown` type is incorrectly generated due to a typo.
The issue results in the following runtime error: `ReferenceError: unknown is not defined`.

You can find the typo here:
https://github.com/CarterGrimmeisen/zod-prisma/blob/1962bec2ef3fe13bd411be7575827f7e7cdcbbaa/src/types.ts#L8

The line should most likel

[2021-12-01 02:11] CarterGrimmeisen commented on #34
Okay, new version has been published to NPM and I'm glad this project could save you some time! 👍

[2021-12-01 02:11] #34 closed

[2021-12-06 01:44] alveshelio opened #39 "Unable to generate zod schemas"
Hi,

I've tried to generate Zod schemas but I'm getting errors. I've tried to install the package with both `npm` and `yarn` and the result was always the same whenever I try to generate prisma schemas.

npx prisma generate
Environment variables loaded from .env
Prisma schema loaded from prisma/schema.prisma
Error: Generator at zod-prisma could not start:

node:internal/modules/cjs/loader:936
  th

[2021-12-06 06:52] franky47 commented on #39
I had the same issue: the distributed package has not been built before publishing (dist is missing).

To solve it locally (not an actual solution), I went into the node_modules/zod-prisma directory, installed its own dependencies (`yarn install`), and built it in place.

There were a few build errors with coalescing field types into strings, though these may be solved by the Prisma update PR. If

[2021-12-06 11:54] franky47 opened #43 "Output formatting options"
As I tend to reserve PascalCase for class definitions, and camelCase for objects and literal definitions, it would be nice to be able to configure the output names of the generated Zod schemas:

[code]

Also, as Zod names its objects _schemas_, allowing to change the suffix would be nice too:

[code]

Suggested API (with current defaults):

[code]

I can open a PR if you're interested.

Related pa

[2021-12-07 00:29] CarterGrimmeisen commented on #39
Yep, apologies for this one. I've been swamped with studying for (and taking finals) this weekend so I'm just now getting to work on this. I've pulled the bad version from npm so you won't have that problem again, but I'm working on getting a couple of other fixes and dependency updates in before I push a new version.

Thanks for creating an issue and for helping me improve/fix the package!

[2021-12-07 01:12] CarterGrimmeisen commented on #39
Issue has been resolved with version 0.3.0! Let me know if you have any lingering issues.

[2021-12-07 01:12] #39 closed

[2021-12-07 01:13] CarterGrimmeisen commented on #43
Published with version 0.3.0! Thank you so much for your contribution!

[2021-12-07 01:13] #43 closed

[2021-12-07 11:50] franky47 commented on #39
Thanks for the quick release! It's working like a charm on my end.

Best of luck for your exams!

[2021-12-14 20:21] franky47 opened #49 "Relation model definitions throw TypeScript errors"
Generated Zod schemas for complete records (with relations) report errors, see `test/functional/recursive/expected/comment.ts`:

[code]

I'll have a closer look and open a PR if I find a fix.

[2021-12-14 23:41] CarterGrimmeisen commented on #49
I'll take a look at this and your other PRs tomorrow. Thank you for all your contribution! <3

[2021-12-15 23:51] CarterGrimmeisen commented on #49
Fixed with release 0.3.1

[2021-12-16 22:52] franky47 opened #52 "Issues with JSON fields, `z.any()` and relations"
When a model has a JSON field, its relationship declaration will throw a type error.

[code]

The issue comes from the Json type resolving to `z.any()`, and the extended schema not mapping correctly to the extended interface due to some part being optional and some other being required.

Rather than the builtin `any`, the package could include some runtime helpers to resolve JSON types. See [Zod's

[2021-12-16 22:54] franky47 opened #53 "Optional fields cannot have documentation extensions"
This schema:
[code]

will generate the following output:
[code]

which gives the error:
[code]

Solution: append `.nullable()` after all potential rich-comment modifiers.

[2021-12-16 23:05] franky47 opened #54 "Allow importing code for constraints"
This feature request may be a bit far-fetched, feel free to close if out of scope, though I might give it a go if you're interested.

I have some fields which I'd like to annotate with a `/// @zod.regex()` constraint. The content of the regex is defined somewhere else in the app, and needs to find its way to the generated file.

Currently, I'm copying the regex to the schema file, which is brittle

[2021-12-20 18:48] #53 closed

[2021-12-22 07:09] siddharthsharma94 commented on #49
I'm still seeing this issue, with the TS errors in version `^0.3.2`

[2021-12-22 07:12] franky47 commented on #49
@siddharthsharma94 can you paste your Prisma schema for the relevant parts where you see this error ? 0.3.1 fixed the issue for me, though I still have errors described in #52 due to optional fields.

[2021-12-22 07:13] franky47 commented on #52
Note: it seems that it's not related to JSON, I also have this issue with a model with an optional Date.

[2021-12-30 03:33] camelmasa opened #61 "Build error on ./test/functional/recursive/expected/index.ts"
I can't build expected test file. Like below.

[code]

[2021-12-30 03:41] camelmasa commented on #49
@CarterGrimmeisen @franky47

I encountered same error. I think we can reproduce that using test code.
 https://github.com/CarterGrimmeisen/zod-prisma/issues/61

[2021-12-30 04:22] CarterGrimmeisen commented on #61
Hey camelmasa! This actually isn't a bug at all. The error you're seeing is caused by tsc's strict mode not being enabled. If you ran the same command with the --strict flag the issue would go away.

I could (and probably should) add this to the readme but it's worth noting that zod explicitly states that strict is required in [their readme](https://github.com/colinhacks/zod#installation)

[2021-12-30 04:22] #61 closed

[2021-12-30 04:24] CarterGrimmeisen commented on #49
I will reopen this issue to document some continued problems users are seeing but I won't be totally sure they exist until we can see a prisma schema that replicates the issue.

[2021-12-30 04:38] camelmasa commented on #61
@CarterGrimmeisen Thanks for replying! We can fix that!

[2021-12-30 11:50] michalochman opened #62 "Allow specifying representation of Decimal type"
Hi, currently Decimal is represented with `zod.number()`. While this may be some workable default, I would like to be able to use [decimal.js](https://github.com/MikeMcl/decimal.js), which is also [used by Prisma](https://www.prisma.io/docs/concepts/components/prisma-client/working-with-fields#working-with-decimal).

`Decimal` constructor takes `number | string | Decimal` as input and returns `Dec

[2021-12-30 15:46] michalochman commented on #62
I've been playing with more types and it seems I have the same issue with `DateTime` type.

The type generated by `zod-prisma` is `z.date().nullable()`, however when considering the same scenario as above, i.e. data coming from some HTTP API, I would rather get a string representation of date, not a `Date` instance, e.g. "2021-12-30" or "2021-12-30T13:37:42".

Here is how one could do it using `pr

[2022-01-05 23:28] franky47 commented on #52
Hey @CarterGrimmeisen, the fix you added in b0b4152 (injecting a recursive JSON schema) seems to work, do you have an ETA on a release ?

[2022-01-09 02:00] #52 closed

[2022-01-14 18:43] zomars opened #73 "Allow to run prettier/custom formatter post-generate"
What would be the optimal way to do this?

[2022-01-14 18:46] franky47 commented on #73
I'd say it's out of the scope of this package, but running [`prettier --write`](https://prettier.io/docs/en/cli.html#--write) after `prisma generate` on the generated files works for me, though I generally don't consider it critical if generated files aren't formatted like the rest of the code.

[2022-01-17 06:58] fergusmeiklejohn opened #75 "Ability to use z.prepocess"
Hi Carter, I'm been playing around with trying to pass in `z.prepocess` in the Prisma comments because I need to preprocess an empty string to undefined so zod plays nicely with browser formData: The function is:
[code]
I can't pass a function in the comments so I tried the direct route:
[code]
but that creates:
[code]
while we're looking for:
[code]

What do you think, is this doable?

[2022-01-17 07:12] franky47 commented on #75
This should be possible with #69, which allows defining custom types in a separate user-defined file.

[2022-01-18 02:15] zomars opened #78 "Is there a way to tell zod to use nullish instead of nullable?"
I'm encountering many cases of:

[code]

Using nullish instead for optional fields could solve this issue.

[2022-01-18 21:16] CarterGrimmeisen commented on #78
Good catch! This makes perfect sense, I'll get that change made here in the next update!

[2022-01-18 21:17] CarterGrimmeisen commented on #75
Yep, as @franky47 said, this was one of the primary goals for #69. I'll go ahead and close this issue once a new release has been pushed with that included!

[2022-01-18 21:20] CarterGrimmeisen commented on #73
As an avid user of prettier, I could definitely be convinced to include this feature. One thing that I'll note though is that the intention of this generator is that the generated code is not source controlled. Ideally this means the generated zod schemas shouldn't need to be included in your normal linting/formatting process.

[2022-01-18 21:24] CarterGrimmeisen commented on #62
Hey @michalochman, take a loot at [the config-import functional test](https://github.com/CarterGrimmeisen/zod-prisma/tree/b69267b31b6a252406fb0c0eb1040ffd8bdeff9b/test/functional/config-import) and make sure it addresses your use case. I think it should provide a solution for both of these problems but let me know if you have any thoughts!

[2022-01-18 22:15] CarterGrimmeisen opened #79 "Nullability and JSON fields"
According to [Prisma's docs](https://www.prisma.io/docs/concepts/components/prisma-client/working-with-fields/working-with-json-fields#filtering-by-null-values) JSON fields cannot be directly set to null. Instead one can utilize `Prisma.JsonNull` or `Prisma.DbNull` in order to set the field to a JSON value of null or to `NULL` the db field respectively.

My current plan is to update the generated

[2022-01-18 22:43] zomars commented on #73
I've ended up adding this script to my `package.json`:

[code]

[2022-01-18 22:52] CarterGrimmeisen commented on #73
Awesome! Glad you found something that works for you. Perhaps I'll add something to the readme that indicates this can be done for people who really want their specific formatting on the generated files.

[2022-01-18 22:52] #73 closed

[2022-01-19 11:16] michalochman commented on #62
Sweet @CarterGrimmeisen! I built it from feature branch, ran generator in my codebase and all is working as intended with both cases.

[2022-01-19 20:21] #54 closed

[2022-01-19 23:28] CarterGrimmeisen commented on #75
0.5.0 has been published with this capability!

[2022-01-19 23:28] #75 closed

[2022-01-19 23:28] CarterGrimmeisen commented on #78
0.5.0 has been published with this change!

[2022-01-19 23:28] CarterGrimmeisen commented on #62
0.5.0 has been published with this capability!

[2022-01-19 23:28] #62 closed

[2022-01-19 23:45] franky47 opened #83 "Incorrect imports file path when stored in the output directory"
First off, thanks a lot for v5.0.1, the imports feature is awesome!

I initially tried to store the imports file in the output directory, and the resolved path was missing a `./` prefix, example:

[code]

[code]

Now, this is probably a stupid idea to store this file there, so I've moved it somewhere else, no rush for a fix.

[2022-01-19 23:57] franky47 opened #84 "Type error on 1-1 relationships"
I have the given (simplified) schema where `User` and `Keychain` have a 1-1 relationship:

[code]

Those relationships have to be defined as nullable on one end, but the generated user schema generates a TypeScript error:
[code]

Removing the `.nullish()` modifier for the keychain in `relatedUserSchema` fixes the issue.

Edit: using `.nullable()` there works too, which was what was used before.

[2022-01-20 01:52] CarterGrimmeisen commented on #84
Hmmm okay, I'll have to take a look at the error. Thanks for the heads up!

[2022-01-20 01:53] CarterGrimmeisen commented on #83
Oops! That's an easy fix. I'll have a fix for that soon!

[2022-01-20 02:33] CarterGrimmeisen commented on #84
And as a note for myself: Add regression test for a relationship like this.

[2022-01-20 02:34] fergusmeiklejohn opened #86 "zod.custom() bug"
Hey Carter, I like the new version of the library!

I just found a bug parsing `zod.custom()`:

[code]

Is producing this: `z.string(.refine((val).nullish()`

So there is this parsing bug, but also reading the docs I understand that we need to specify it's a string but I'm not sure whether I should also specify it's nullish

[2022-01-20 02:42] CarterGrimmeisen commented on #78
Aside from breaking lots of things, I'm not sure this makes sense. I need to take a closer look at the Prisma generated types to see when undefined is necessary.

[2022-01-20 02:42] CarterGrimmeisen commented on #78
@zomars can you provide a reproduction for the original error this issue relates to?

[2022-01-20 02:53] CarterGrimmeisen commented on #86
While this is definitely a bug that needs to be addressed, is there any reason you'd use this over the following?

[code]

[2022-01-20 06:42] #86 closed

[2022-01-20 07:15] fergusmeiklejohn commented on #86
I use the validator library over z.url() because zod requires `https://` which most users wouldn't type. If they copy/paste then it'll be in there but if they type the url it won't

[2022-01-20 17:04] zomars commented on #78
@CarterGrimmeisen would you kindly publish `0.5.2` to npm?

[2022-01-20 17:11] CarterGrimmeisen commented on #78
Published.

[2022-01-20 17:11] #78 closed

[2022-01-20 17:11] CarterGrimmeisen commented on #84
0.5.2 has been published with a fix for this.

[2022-01-20 17:11] #84 closed

[2022-01-20 17:11] CarterGrimmeisen commented on #83
0.5.2 has been published with a fix for this.

[2022-01-20 17:11] #83 closed

[2022-01-20 20:33] franky47 opened #90 "Input vs Output schemas for nullable fields"
The 0.5.x releases and the change from `.nullable()` to `.nullish()` for optional fields have revealed a potential flaw in my application logic. Allow me to elaborate _(this is not an issue per-se, but it can help others in a similar situation)_.

Optional fields in Prisma behave differently when reading and writing.

Let's use the following example model:
[code]

When **writing data** to the data

[2022-01-25 02:35] zomars opened #92 "Is there a way of using the shortest path available?"
To explain further, I'm migrating to a monotipo and the schema now imports like this. Although importing from `@prisma/client` works just fine. Is there a way to achieve this?

<img width="507" alt="image" src="https://user-images.githubusercontent.com/3504472/150900271-13da6688-a0fc-4144-9e22-59890edd7761.png">

[2022-01-25 06:45] franky47 commented on #92
I had a fix for that in #51, and I noticed the same relative path bubbling up to node_modules behaviour in v5.0.1, I'll have a look at what's going on.

[2022-01-25 15:02] CarterGrimmeisen commented on #92
Ah yeah. I see what happened. I'll have a fix for this out asap. Thanks for the report.

[2022-01-25 15:17] zomars commented on #79
The only issue that I see with this approach is using these schemas to validate forms in the frontend. We could use `null` on the frontend and add a transform that converts it to `Prisma.JsonNull` or `Prisma.DbNull`

[2022-01-25 15:24] zomars commented on #92
Also some team mates on windows are reporting that the schema generation is messing up with the paths:

[2022-01-25 15:30] CarterGrimmeisen commented on #92
Okay, thanks for the additional info. I'll take a look into that too

[2022-01-26 22:59] CarterGrimmeisen commented on #92
0.5.4 which contains the fix for (hopefully) both of these issues has been published!

[2022-01-26 22:59] #92 closed

[2022-01-26 23:11] CarterGrimmeisen commented on #90
I agree that this is potentially something to address and that the nullish change made things a little bit unclear.

For me, the use case was always as a form of pre-validation when creating new records. For updating you can always just take the schema and run '.partial()' on it to selectively make fields optional.

One idea I had is to make different schemas for the different Prisma operations. (

[2022-01-26 23:34] zomars commented on #92
Awesome! Testing it right now!

[2022-02-05 08:13] fergusmeiklejohn opened #93 "small idea: create and export the basic model types as well as the complete type"
I'm finding it useful to create types of all my Prisma models: `export type UserDB = z.infer<typeof UserModel>`
I'm doing this because I end up cleaning data up a bit and transforming it when I pull it from the DB, so it makes some sense to create a new type derived from the base types which I can then use to construct more accurate types for the client code. `zod-prisma` could do this when it's c

[2022-02-05 20:15] CarterGrimmeisen commented on #93
Hmmm. I can certainly see the use case for this. I'll think about how it fits in and get back to you with something. Thanks for the suggestion!

[2022-02-08 02:51] donferi opened #95 "Custom Type"
Is there a way to override the type of a property?

My use case: I'm using [remix](https://github.com/remix-run/remix) which has this concept of "loaders". Whatever data you return from your loaders you have it available in your ui. However, since the loaders run on a server the data gets serialized with `JSON.stringify` this basically converts `Date` types to `String`.

This causes my prisma and

[2022-02-08 03:53] CarterGrimmeisen commented on #95
[This section of the README](https://github.com/CarterGrimmeisen/zod-prisma#custom-zod-schema) is probably what you're looking for.

[2022-02-08 03:55] CarterGrimmeisen commented on #95
In your import file you could have something like
[code]

and then change the type to use the custom zod schema with
[code]

[2022-02-08 04:09] donferi commented on #95
I sincerely apologize, I missed it. Worked beautifully ❤️

[2022-02-08 04:09] #95 closed, assigned to nobody

[2022-02-08 04:24] CarterGrimmeisen commented on #95
No need to apologize! Feel free to reach out if you have any other question! :D

[2022-02-08 06:56] fergusmeiklejohn commented on #93
I've had a bit of a rethink on this one. I may just be that my app and schema are a bit complex. Like I never query a single table and return it, it's always complicated join queries, and I also have to transform a some of the data to be consumed client side.. But I've found in practice it's better to write my client side types by hand.

[2022-02-08 14:00] MartinMuzatko opened #96 "default and automatic generated fields should be optional"
Hello there.
Whenever I use zod to validate my schema, i validate the data coming from userland. That means any HTTP/REST API, MQTT API etc. needs to get validated in order to create or update a database entry.

That means, all fields that are autogenerated (denoted by prisma with `@id`) should be marked as `optional` or removed from the model, as they are not needed neither in create or update me

[2022-02-09 19:42] CarterGrimmeisen commented on #96
No, you are understanding it correctly. I definitely agree this needs to be incorporated in some way. I'm currently brainstorming a more all-encompassing rework that should handle this, #93, and #90. So I'll update this issue when that becomes available! Thanks!

[2022-02-18 17:04] markoheric commented on #49
I think I hit this bug too.

this is the schema:

[code]

and this is the error I get
[code]

this is generated in user.ts
[code]

and this is generated in group.ts
[code]

[2022-02-18 17:06] CarterGrimmeisen commented on #49
Hey @markoheric! Do you have typescript's strict mode enabled? Both zod and this package require it and the issue your describing looks suspiciously like strict mode being disabled. If not, let me know and we can look at it more closely!

[2022-02-22 10:49] capaj opened #99 "use a default import so that the code is ESM compatible"
In one of the files generated I have:
[code]
this causes a problem when I use native ESM modules. Node.js is not able to import that as named export:
[code]

it would be much better to generate the file like this:

[code]

this way it will work fine on commonJS and native ESM.

There is an issue in prisma repo which might explain the problem further:
https://github.com/prisma/prisma/issues/4816

[2022-02-23 04:20] CarterGrimmeisen commented on #99
Is this with "type": "module" or one of the command line flags for node?

[2022-02-23 05:56] capaj commented on #99
I am using "type": "module"

[2022-02-23 20:14] CarterGrimmeisen commented on #99
Okay, last question. I'm looking to try and test some of these changes myself. How are you running node on these typescript files? Are you just compiling them with tsc and then running them? Are you using ts-node? Thanks in advance for your help!

[2022-02-23 20:25] capaj commented on #99
I am using ts-node like this:

https://twitter.com/capajj/status/1496057264586768388?t=h2WClBTeWWGEW5m-X6ZKkw&s=19

😅

[2022-02-23 21:48] CarterGrimmeisen commented on #99
Could you test the fix from the fix/99 branch by placing [this tarball (zod-prisma-v0.5.5.tar.gz)](https://github.com/CarterGrimmeisen/zod-prisma/files/8127988/zod-prisma-v0.5.5.tar.gz) in your project directory and updating your package.json with the following?
[code]

Thanks for your help!

[2022-02-23 21:49] CarterGrimmeisen commented on #99
Whoops! You'll also have to add the following to your schema.prisma
[code]

[2022-03-15 16:51] jamespb97 commented on #49
Hi @CarterGrimmeisen, I'm experiencing the same thing and I have strict mode true in my tsconfig compiler options.

schema.prisma file:
[code]
dependencies:
[code]

[2022-03-16 10:32] jamespb97 commented on #49
Fixed it, make sure your generated zod folder is in your includes in tsconfig!
https://github.com/colinhacks/zod/issues/533

By default this generator puts zod in prisma folder which wasn't included in my tsconfig.
Either move the zod folder to be somewhere else or include in tsconfig like so:
[code]

[2022-03-21 17:24] obibring opened #104 "imports that use non-relative paths are generated with relative paths."
Hi there, thanks for building this!

Are non-relative paths supported for the `imports` config property? I'm seeing the following:

### Observed Behavior
Given the following config in `schema.prisma`:
[code]
The generated typescript contains a *relative* import path:
[code]
### Expected Behavior
[code]

[2022-03-21 18:47] CarterGrimmeisen commented on #104
Hey @obibring, glad you are enjoying the package!

Right now the generator is not setup to handle this use case but this makes a ton of sense! I'll get to work on a fix for you and let you know when a fix is out.

For now simply pointing to the package in the node_modules directory (ie. `../../node_modules/@my-org/custom-zod`) should mitigate the issue.

[2022-03-22 17:07] obibring commented on #104
Thanks @CarterGrimmeisen !

[2022-04-21 12:58] michiim opened #108 "include enum-values into generated files instead of importing them"
I would like to use the generated schema-files also in my frontend (and not only in the backend, where these files are generated). But there is no (easy) way to copy them to my frontend project, because enum values are imported from '@prisma/client'. If these values were not imported by prisma client, but included, these files would be "exportable" to another project without any changes.

If you a

[2022-04-21 13:59] CarterGrimmeisen commented on #108
Hmmm. Fair point, I can imagine it would be fairly easy to generate another file and zod schema for the enum and then simply use that in place of the import from the Prisma client. A PR would be appreciated for sure!

[2022-04-21 15:49] chrisui opened #109 "`error TS2300: Duplicate identifier` when referencing the same enum twice in a model"
We get a TS error due to duplicated named imports.

This schema:

[code]

Generates the following which results in the TS error

[code]

[code]

Desired:

Imported identifier should only be written once.

[2022-04-21 16:01] chrisui commented on #109
I think the problem is the following line which should probably be a unique set based on the identifier.

https://github.com/CarterGrimmeisen/zod-prisma/blob/main/src/generator.ts#L47

[2022-04-21 17:01] 3x071c opened #110 "Prisma generate fails when parsing/validating schema"
Glad I found this, but trying to add any custom option to the generator section in my `schema.prisma` file results in prisma complaining:
[code]
Looks like prisma is unaware of the options the `zod-prisma` provider exposes. Can this be fixed?

[2022-04-26 05:39] aiji42 opened #112 "Allow the generator execution to be disabled"
I have a need to intentionally stop zod-prisma generation, for example when running `prisma generate` on CI.

It would be useful to be able to temporarily disable it via an environment variable.
e.g. `ZOD_PRISMA_DISABLE=true yarn prisma generate`.

[2022-04-26 06:22] aiji42 opened #113 "Allow insertion of documentation in the generated model files"
I have a need to add documentation to the beginning of model files.

For example, if I have a model that specifies `imports` but does not use custom validation, I want to add `// @ts-nocheck` to the top of the file because typescript will respond to an unused import clause and display an error.

![スクリーンショット 2022-04-26 午後6 42 16](https://user-images.githubusercontent.com/6711766/165271787-18980343-

[2022-04-27 16:36] kevinmamaqi opened #116 "import * as imports from "../null" zod-prisma"
When I run the generator zod includes the following after zod import:

[code]

Am I missing something? This is my generator zod:

[code]

[2022-05-04 18:51] omar-dulaimi opened #118 "Stuck at generation step"
Hello,

I just installed this generator to try it out, but so far nothing is working.

I attempted to run it on two separate projects, one has a small prisma and the other has a relatively large one.

Both didn't work, and remained stuck.

I can't share the schemas unfortunately. So, any ideas what could the problem be?

I also enabled strict in tsconfig, still the same.

[code]

[code]

[code]

[

[2022-05-05 01:33] CarterGrimmeisen commented on #118
Another user suggested that this might be a missing dependency on zod. Make sure you've got zod as a dependency and try again.

If that doesn't work, let me know and I'll see if there's anything else I can do.

[2022-05-05 02:00] omar-dulaimi commented on #118
@CarterGrimmeisen I installed zod as a dev dependency as mentioned in the README. Should I install it as a prod dep instead?

[2022-05-05 02:36] omar-dulaimi commented on #118
also did not work.

[2022-05-05 02:40] omar-dulaimi commented on #118
It works now!
Thank you.

[2022-05-05 02:40] #118 closed, assigned to nobody

[2022-05-05 02:41] omar-dulaimi commented on #118
I think the generator should output a warning when it can't find the zod dependency.

[2022-05-05 02:42] omar-dulaimi commented on #118
@CarterGrimmeisen If possible, can I submit a PR for that?

[2022-05-05 02:44] CarterGrimmeisen commented on #118
Sounds good to me! Thanks for the feedback

[2022-05-06 10:37] davguij commented on #96
Hey @CarterGrimmeisen has there been any progress on this? Is this still on your radar? It would be an improvement I could surely use :)

[2022-05-07 19:37] yousufiqbal commented on #110
Same here

[2022-05-14 16:15] thangngoc89 commented on #110
You need to remove all comments

[2022-05-17 09:14] GaelS commented on #116
Removing `imports = null` seems to remove that issue

[2022-05-22 14:41] MatthiasDunker commented on #109
I made a pull request for this.
Had the same issue.

https://github.com/CarterGrimmeisen/zod-prisma/pull/122

[2022-05-23 14:21] michiim opened #123 "useDecimalJs = true does not work"
if useDecimalJs = true is defined, the helper schema for Decimal fields is created but not used.

details:

**creates Helper (without assignment to const)**

[code]

**does not use it in schema (ex. property price)**

[code]

[2022-05-28 07:48] sourcec0de commented on #110
This solved it for me.

[2022-05-28 08:00] sourcec0de commented on #110
I submitted a fix to the docs.
https://github.com/CarterGrimmeisen/zod-prisma/pull/124

[2022-05-30 02:14] markmurphydev opened #125 "Generated imports don't work with Typescript 4.7 module type"
Typescript 4.7 has support for [ES modules](https://devblogs.microsoft.com/typescript/announcing-typescript-4-7/#ecmascript-module-support-in-node-js) using `"type": "module"`, but relative import paths require `.js` extensions.

Currently these are not generated.

[2022-06-03 23:05] tatethurston commented on #118
I encountered this as well -- a missing zod dependency warning would be great!

[2022-06-09 12:26] omar-dulaimi commented on #118
@tatethurston I have submitted a PR since then to fix this, but it hasn't been merged or even reviewed I guess.

[2022-06-12 10:41] MoSattler commented on #116
same problem here

[2022-06-16 10:40] janpio opened #130 "Upcoming rename of `@prisma/sdk` to `@prisma/internals` with Prisma 4"
Hey,

Jan from Prisma Engineering here.

Quick heads up that we will soon rename our `@prisma/sdk` package to `@prisma/internals` with Prisma 4, which we plan to release on June 28th (soon!).

The `@prisma/sdk` package was meant as an Prisma internal package only, but somehow it leaked out over time and is now used across all kinds of tools - including yours of course 😄

With the rename of the Npm

[2022-06-16 22:21] arielpacciaroni opened #131 "Optional fields should use nullable instead of nullish"
If I got the following model:

[code]

It should produce the following zod schema:
[code]

instead of:
[code]

I believe that `string | null` union type (from Prisma exports) suits better than `string | undefined | null` union type got from Zod schemas

[2022-06-22 13:36] michiim opened #133 "Add support for model level definition"
Would be great to have support for zod-definitions on model level.

example:

[code]

[2022-06-22 16:03] Jolg42 commented on #130
Note: You can try prisma packages on the `dev` tag on npm, like `@prisma/internals@3.16.0-dev.84`

[2022-06-30 10:21] Jolg42 commented on #130
@CarterGrimmeisen Prisma 4.0.0 was published on Tuesday :canoe:

The internal package `@prisma/sdk`
- was published for the last time to ease the upgrade (in the future we might reuse the package name, but its content will be different)
- marked deprecated on npm
- available under the new, more explicit package name `@prisma/internals`.

If you’re using `@prisma/sdk` (now `@prisma/internals`), it

[2022-07-10 15:08] TenshiMunasinghe opened #136 "Add support for connectors"
I'm not sure if there's already a support for this, but I ran into this issue using MySQL connector.
For a model like this, I think it's redundant to use `@zod` keyword when there's clearly a criteria defined in the data models itself.
I want the library to be smart enough to understand the native column types if that's possible.
[code]

[2022-07-25 08:19] bpouzet opened #137 "Handle composite types"
Hello,

When I define a composite type it is not exported in zod folder.

Do you know why ?

[code]

[2022-07-25 20:23] Kombustor opened #138 "Possibility to pre-release feat/1.0-beta"
We really need #108 as we want to use zod-prisma generated models in our NextJS frontend. We are having some troubles using the version via a Git-URL dependency, but as it's merged into 1.0-beta maybe you can release that as a pre-release (by appending `-beta.<version>` to the version) to npm?

Thank you very much!

[2022-07-26 23:33] SamSokolin commented on #109
@CarterGrimmeisen any chance you can release this fix to npm? Looks like https://github.com/CarterGrimmeisen/zod-prisma/commit/f3c27fb2a056763a4e11dbe6371505ebbdf9d69e fixes the issue but the most recent version on npm is from 6 months ago. Appreciate your work on this project, this is awesome!

[2022-08-04 11:03] SOULPWRD opened #140 "Upgrade to Prisma v4"

[2022-08-04 11:03] #140 closed, assigned to nobody

[2022-08-04 11:14] SOULPWRD opened #141 "Support for Prisma v4"
Hi!

Fist of all, thank you for this package :)

I'm about to upgrade from Prisma v3 to v4. Unfortunately npm cli rejects to do the upgrade because the peer deps support only Prisma version `^3.0.0`. I've noticed you've already started working on `zod-prisma` v1. Do you have some rough estimate when it's going to be released please?

Thank you in advance!

[2022-08-08 08:59] PlayWolfYT opened #142 "Passing arguments to "z.string()""
It would be nice to have the possibility to pass arguments to the ```z.string()``` function.
This would be useful to, for example, set the ```required_error``` option to some better message than just the default ```"Required"```

One way of doing that could maybe look like this:
[code]
which would generate the following
[code]

[2022-08-11 08:56] michiim opened #143 "new relationModel with optional relations"
The relationModel is useful for simple models only with only a few relations.

But in real world projects, every model has many relations. In ein ERP solution i would like to validate an invoice with its items (related to invoice). But i don't want to validate the related customer, or products related to the items.

So for me the relationModel ist mostly useless. I would like to have (an additiona

[2022-08-13 08:56] IRediTOTO opened #146 "More examples"
Hi, I am using zod-prisma but I would love have more examples, tip and tricks about use your package. :) Can you please write article when you have time?

[2022-08-18 06:25] hiramhuang commented on #109
Running into the same issue here.

My temporary workaround is to generate Zod schema on my dev environment, fix errors & comment out the generator before git commit. (If you don't comment out the generator, the generated file will be overridden during `npm install` or `prisma generate`.)

[2022-08-19 07:21] lugrinder opened #147 "Custom Zod Schema in an Int field stills adds .int() at the end"
For example, a schema like this:

[code]

Where `State` is defined in `imports` like:

[code]

Generates:

[code]

Which is invalid because `nativeEnum` is number and don't have `.int()`.
I can replace with a custom `refine`, but this is not the question...

[2022-08-25 09:56] abenhamdine commented on #96
It doesn't make sense to me that a field could not be optional and have a default value.

Why would you want to disallow `null` and allow omitting the property, given than the final result will be the same (applying the default value in db) ? I fail to understand.

[2022-08-30 15:58] MartinMuzatko commented on #96
I think you can forget about what I said about `null`. If a field has a default value (but is not optional by nature) it should be, as convention, use the default value if omitted.

I can think of at least two scenarios where I want to use a validation schema in a basic CRUD application.

1. Create - all required fields have to be required
2. Update - no fields are required

**Case 1 - Create**
Ho

[2022-09-02 11:06] aiji42 opened #148 "Is this library alive?"
This is a survival check.

I find this library very useful and I like it very much. However, I am very disappointed that maintenance has stopped and there is no way to fix bugs and support the latest prisma(v4).

@CarterGrimmeisen Do you intend to continue the maintenance of this library? If not, please recruit maintainers and give them proper authority.

P.S. There is [another similar library](ht

[2022-09-13 22:03] josephpierres commented on #148
I would say even more!

[2022-09-16 14:07] michiim opened #151 "Decimal validation wrong for data loaded from database"
Helper schema for Decimal fields has to be modified because decimal data loaded from db by prisma are not instance of Decimal but Prisma.Decimal. Find more information here: https://www.prisma.io/docs/concepts/components/prisma-client/working-with-fields#working-with-decimal

But i think it is not a good idea to import the Prisma client library because this make the zod schemas not usable for fron

[2022-09-21 07:07] testerez commented on #96
Same issue here. I would be fine with a `/// @zod.ignore` special comment to remove any specific field from the generated schema. Also, a global ignore configuration would be nice to ignore fields for the whole schema. Something like:

[code]

Would that make sense?

[2022-09-21 09:21] NexZhu commented on #148
The author seems to be inresponsive, I wonder if anyone is willing to maintain a active fork and we can merge bug fixes there?
@DiegoDoniss @batidodecoco @IgnusG @sourcec0de @MatthiasDunker @omar-dulaimi @aiji42 @michiim @GaelS

Sorry for disturbing, but it will benefit a lot of us if someone step forward.

[2022-09-21 10:10] omar-dulaimi commented on #148
@aiji42 `zod-prisma` generates 1 model for each Prisma model in your schema. But `prisma-zod-generator` have a different purpose; it generates schemas for all actions Prisma client provides, which makes it useful for CRUD operations.

I might implement a feature soon to generate models only; which would result in an output similar to what you get here.

[2022-09-21 10:13] omar-dulaimi commented on #148
@NexZhu Thanks for the mention. But to be honest, I don't think I can maintain yet another generator. As you know I have built many so far for the Prisma community, and it takes a lot of my free time.

I have been job searching these past months for remote full time roles, so until I get employed, I'm afraid I can't promise anything.

[2022-09-21 10:25] aiji42 commented on #148
@omar-dulaimi Thank you for your reaction, I was surprised because I did not expect to get your view as the owner of `prisma-zod-generator`.

I am really looking forward to this. If this is implemented, I will switch to your library.

[2022-09-21 10:26] IgnusG commented on #148
Unfortunately I'm not very deep into prisma yet so I wouldn't know what to do with most of these other PRs 😞

@Frando however [already re-packaged this library](https://github.com/CarterGrimmeisen/zod-prisma/pull/128#issuecomment-1184420083) together with my fix at @frando/zod-prisma. Maybe they can merge in some of the other popular/critical PRs as well. I'd suggest to list the ones that are inte

[2022-09-22 07:24] NexZhu commented on #148
I've also published a fork [@daotl/zod-prisma](https://github.com/daotl/zod-prisma), cuz I need this PR from @michiim to be merged: https://github.com/CarterGrimmeisen/zod-prisma/pull/111 This one generates enums instead of importing from `@prisma/client` and is important if you want the generated schemas to also be useable in the frontend code.
@IgnusG I've also merged your PR: https://github.com

[2022-09-26 15:44] Frando commented on #148
I'm not currently using `zod-prisma` in a production app, and am not sure if I will as we're still experimenting at the moment. So if @NexZhu is up for maintaing a fork, that'd be great. Feel free to use [my fork](https://github.com/Frando/zod-prisma) or the commits in it. If things stabilize, I'll stop my fork and point to a maintained version instead.

[2022-09-27 05:21] NexZhu commented on #148
OK, feel free to open issues or PRs in my fork until the author picks it up or anyone more suitable appears.
https://github.com/daotl/zod-prisma

[2022-09-29 00:33] arielpacciaroni commented on #148
Sorry for the late reply! Seems like I've been mentioned, I like this project and I always try to use it whenever possible. There are some improvements that needs to be done to ensure a good experience between Prisma and Zod

We could go with somebody's fork and perhaps rename the package to avoid confusion

[2022-09-29 14:06] zomars commented on #148
At @calcom we're using this library extensively, we could offer a sponsorship or maybe adopt and maintain this library as well. cc @PeerRich @hariombalhara

[2022-10-06 22:32] PeerRich commented on #148
happy to continue maintaining under calcom/zod-prisma

[2022-10-30 19:03] Nikola-Milovic commented on #148
Whats the conclusion? Wheres the project going, which fork?

[2022-10-30 20:42] PeerRich commented on #148
weve not had a chance to fork this yet

[2022-10-31 08:01] Nikola-Milovic commented on #148
@PeerRich Please do pings us

[2022-10-31 16:55] PeerRich commented on #148
passing this decision to @zomars

just fyi: we do have a lot of other things on our plate

[2022-11-01 06:01] omar-dulaimi commented on #148
I think somebody should create a discord server for this generator or all prisma generators in general.

[2022-11-01 06:32] Nikola-Milovic commented on #148
@omar-dulaimi that's probably a thing already in the Prisma discord, or at least it should reside there

[2022-11-01 06:39] omar-dulaimi commented on #148
I thought Prisma only has Slack. Must be new or not official.

[2022-11-01 06:44] Nikola-Milovic commented on #148
@omar-dulaimi yeah my mistake, same thing stands just for slack

[2022-11-03 22:02] zomars commented on #148
Hey just noticed this. I was seriously considering switching to [prisma-zod-generator](https://github.com/omar-dulaimi/prisma-zod-generator) and just realized that is maintained by you @omar-dulaimi 😅

What are you thoughts of this? We rather contribute to an active project and what do you think are the main differences between this generator and yours?

[2022-11-04 10:30] omar-dulaimi commented on #148
Hey @zomars

I think it would be great if the author managed this again, because somebody stepping up and managing it won't last for long; it's just what I imagine.

This project creates one Zod schema for each Prisma model you have in your Prisma schema. However [Prisma Zod Generator
](https://github.com/omar-dulaimi/prisma-zod-generator) takes this a few steps further, by generating schemas for

[2022-11-18 00:52] testerez commented on #109
Until @MatthiasDunker 's fix gets deployed, you can install my [fork](https://github.com/testerez/zod-prisma) (works for me):
[code]

[2022-11-30 17:46] soheil-bottleneck commented on #109
I'm having the same issue. Any update when the npm release will be updated? :)